html, body {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
header {
  border-bottom: 2px solid lightgrey;
  color: lightgrey;
  display: flex;
  font-weight: 600;
  padding: 8px 0;
  user-select: none;
}
#logo {
  display: flex;
  justify-content: center;
  width: 80px;
}
.menu {
  cursor: pointer;
  font-weight: 400;
  margin: 0 12px;
}
.menu > ul {
  background: black;
  list-style: none;
  margin: calc(12px - 2px) 0 0 0;
  padding: 0;
  position: absolute;
  transform: translate(-12px, 0);
}
.menu > ul > li {
  border-bottom: 2px solid lightgrey;
  padding: 8px 12px;
  width: 120px;
}
main {
  display: flex;
}
#canvas {
  background-color: white;
}
.widget {
  align-items: center;
  background-color: lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  margin: 16px 16px 0 16px;
  text-align: center;
  user-select: none;
  width: 48px;
}
.widget:last-child {
  margin: 16px;
}
.widget.selected {
  background-color: white;
}
